.header {
    display: block;
    overflow: hidden;
    height: 60px;
    background-color: #0098ff;
    padding: 10px;
    box-shadow: black 2px 2px 3px 0;
}

.nav {
    display: inline-block;
    float: right;
    clear: both;
    margin: 10px;
    z-index: -1;
}

.nav li {
    display: inline-block;
    padding: 10px;
}

.nav li a {
    font-family: Montserrat, sans-serif;
    color: #070707;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}

.nav li a:hover {
    /*text-shadow: black 4px 4px 6px;*/
    border-bottom: solid;
    border-color: #000;
}

.nav li:active {
    text-shadow: #faf5f5 2px 2px 0px;
}

#pageTitle {
    display: inline-block;
    margin: 10px;
    font-family: Oswald sans-serif;
    font-size:28px;
}

#pageTitle a {
    text-decoration: none;
}

#container {
    display: block;
    width: 600px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h2 {
    font-family: 'PT Sans' , 'sans-serif';
}

#address {
    display: inline-block;
    width: 400px;
    margin: 8px auto 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
    font-size: 16px;
}

.registrationForms {
    width: 600px;
    margin: 200px auto 60px;
}

.registrationForms input {
    display: inline-block;
    width: 400px;
    margin: 20px 0 20px;
    text-align: left;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    font-size: 20px;
}

.registrationForms input:focus {
    background-color: #D0D0D0;
}

.selectedPage {
    border-bottom: solid 2px #0000FF;
}