html {
    background-color: #000;
    background: url(pics/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    display: block;
    overflow: hidden;
    min-width: 1100px;
    height: 60px;
    background-color: #1E88E5;
    padding: 10px;
    box-shadow: black 2px 2px 3px 0;
}

.nav {
    display: inline-block;
    float: right;
    clear: both;
    margin: 10px;
    z-index: -1;
}

.nav li {
    display: inline-block;
    padding: 10px;
}

.nav li a {
    font-family: Montserrat, sans-serif;
    color: #070707;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}


#pageTitle {
    display: inline-block;
    margin: 2px;
    font-family: Oswald sans-serif;
    font-size:32px;
}


#pageTitle img {
    width: 40px;
    height: 40px;
    padding: 0 2px;
}

#pageTitle a {
    text-decoration: none;
    color: #000;
}

#container {
    display: block;
    width: 600px;
    margin: 60px auto 20px;
    padding: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #fff;
    box-shadow: black 2px 2px 3px 0;
}

h2 {
    font-family: 'PT Sans' , 'sans-serif';
}

#address {
    display: inline-block;
    width: 400px;
    margin: 12px auto 12px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
    font-size: 16px;
}

.registrationForms {
    width: 600px;
    margin: 0 auto;
}

.registrationForms input[type=text] {
    display: inline-block;
    width: 400px;
    height: 40px;
    margin: 20px 0 20px;
    padding: 2px;
    text-align: left;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    font-size: 20px;
}

.registrationForms input[type=text]:focus {
    background-color: #D0D0D0;
}

.registrationForms label {
    font-size: 20px;
    font-weight: bold;
}

.formError {
    font-size: 18px;
    padding: 4px;
    color: #F00000;
}

.selectedPage {
    border-bottom: solid 2px #0000FF;
}

#floorMap {
    width: 820px; /*added one more booth width*/
    min-height: 455px; /*added addition row height*/
    margin: 40px auto 10px;
    padding: 2px;
    background-color: #fff;
    border: inset 2px #000;
}

.floormapText {
    text-align: center;
}

.floormapText p {
    font-weight: bold;
}

#boothRow1, #boothRow3{
    margin-top: 35px;
    margin-left: 35px;
}

#boothRow2, #boothRow4 {
    margin-left: 35px;
}

#boothRow5 {
    margin-top: 35px;
}

#boothRow6{
    margin-left: 210px;
}

.booth {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    text-align: center;
    font-size: 18px;
    padding: 2px;
}

.boothReserved {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    text-align: center;
    font-size: 18px;
    padding: 2px;
    background-color: #F00000;
}

.booth:hover {
    background-color: #BBDEFB;
}

#booth10, #booth27, #booth44, #booth61, #booth79, #booth91 {
    margin-left: 35px;
}
#booth88{
    width:105px;
    padding: 2px 4px;
}

#schoolListTable{
    width: 800px;
    margin: 20px auto 0;
    font-size: 18px;
}

#schoolListTable th {
    text-align: center;
    background-color: #D0D0D0;
    border-bottom: solid 1px #000;
}
